asgiref
authentication
beautifulsoup4
blinker
click
colorama
crispy-bootstrap4
Django
django-bootstrap4
django-crispy-forms
django-crum
djangorestframework
djangorestframework-simplejwt
Flask
itsdangerous
Jinja2
MarkupSafe
mysqlclient
passlib
Pillow
psycopg2
pycryptodome
PyJWT
python-decouple
pytz
redis
soupsieve
sqlparse
tzdata
Werkzeug
WTForms
gunicorn
